body {
  font-family: sans-serif;
  text-align: center;
  margin: 40px;
}
button {
  font-size: 1em;
  padding: 10px;
  margin: 10px;
}
#imagePreview img {
  border: 1px solid #ccc;
  margin-top: 20px;
}
#resultText {
  font-size: 1.2em;
  font-weight: bold;
}
